# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# ======================
# VS Code
# ======================
.vscode/


# ======================
# Logs & temp files
# ======================
*.log
*.tmp

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
